
<br><br>
<aside>
  <div id="sidebar"  class="nav-collapse" style="overflow: hidden;" tabindex="5000">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">
    <li class="sub-menu">
      <li>
      <!-- ********************* dashboard ****************** -->
        <% subtabs_path = [users_path] %>
        <a class="<%= is_active?(subtabs_path) %>" href="/users">

        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
        </a>
        </li>
        <!-- ********************* if admin ****************** -->
        <% if current_user.has_role? "admin" %>
        <li>
        <% if params[:action] != "new" %>
          <% subtabs_path1 = [new_user_registration_path] %>
          <li><%= link_to '<i class="fa fa-users "></i> Create User'.html_safe, new_user_registration_path, class: "#{ is_active?(subtabs_path1)}"%></li>
        <% else %>
          <% subtabs_path2 = [users_path] %>
          <li><%= link_to '<i class="fa fa-chevron-circle-left"></i> Back'.html_safe, users_path, class: "#{ is_active?(subtabs_path2) }" %></li>
        <% end %> 
        </li>
        <%end%>
      <!-- ********************* if admin close ****************** -->          
      </li>
    </li>
  </ul>
      <div id="sidebar"  class="nav-collapse" style="overflow: hidden;" tabindex="5000">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
          <li><li>
          <!-- ********************* dashboard ****************** -->
              

              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          
         

          <li><% if current_user.has_role? :Employee %>
          <span>My Account</span> </li>
            
              <ul class="sub">
                <li><%=link_to "Basic Details",  basic_detail_show_user_employees_path(current_user)%></li>
                <li><%=link_to "Academic Details", academic_detail_display_user_employees_path(current_user) %></li>
                <li><%=link_to "Bank Identity Details",  bank_detail_show_user_employees_path(current_user) %></li>
                <li><%= link_to "Previous Company Details", previous_company_detail_show_user_employees_path(current_user) %></li>
                <li><%= link_to "<i class='glyphicon glyphicon-wrench'></i> Project Details".html_safe, project_show_user_employees_path(current_user)%></li>
             
             </ul>
           <% end %>

            <li><% if current_user.has_role? :sale_consultant %>
                  <%=link_to "sale consultant Details",  saleconsultant_show_user_sales_consultants_path(current_user)%></li>

                  <%=link_to "sale BD Details",  sales_bd_show_user_sales_consultants_path(current_user)%></li>
                  <%end %>

    </aside>
    <script type="text/javascript">
      $('li#my-acc > a').on( "click", function() {
        $('li#my-acc > a').toggleClass('active');
        $('li#my-acc').toggleClass('active');
      });
      $('li#my-proj > a').on( "click", function() {
        $('li#my-proj > a').toggleClass('active');
        $('li#my-proj').toggleClass('active');
      });
      $('li#notification > a').on( "click", function() {
        $('li#notification > a').toggleClass('active');
        $('li#notification').toggleClass('active');
      });
      $('li#notification1 > a').on( "click", function() {
        $('li#notification1 > a').toggleClass('active');
        $('li#notification1').toggleClass('active');
      });
      $('li#my-leave > a').on( "click", function() {
        $('li#my-leave > a').toggleClass('active');
        $('li#my-leave').toggleClass('active');
      });
      $('li#my-invoice > a').on( "click", function() {
        $('li#my-invoice > a').toggleClass('active');
        $('li#my-invoice').toggleClass('active');
      });
      $('li#client-details > a').on( "click", function() {
        $('li#client-details > a').toggleClass('active');
        $('li#client-details').toggleClass('active');
      });
      $('li#my-feedback > a').on( "click", function() {
        $('li#my-feedback > a').toggleClass('active');
        $('li#my-feedback').toggleClass('active');
      });
      $('li#my-attendance > a').on( "click", function() {
        $('li#my-attendance > a').toggleClass('active');
        $('li#my-attendance').toggleClass('active');
      });
      $('li#my-task > a').on( "click", function() {
        $('li#my-task > a').toggleClass('active');
        $('li#my-task').toggleClass('active');
      });
    </script>
